.blog-cards {
    border: 2px solid blue;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 20px;
}

.card {
    border: 1px dashed red;

    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 450px;
    overflow: hidden;
}

.card-img {
    width: 260px;
    height: 250px;
    overflow: hidden;
}

.card .card-header {
    font-weight: bold;
    text-transform: uppercase;
}

.card .card-description {
    text-align: justify;
}

.card-ten {
    flex-direction: row;
    grid-column: span 2;
    align-items: center;
    justify-content: space-between;

    width: 690px;
    height: 250px;
}

.card-ten .card-header {
    text-align: center;
}

.card-ten-content {
    width: 320px;
}

.card-ten-content .card-description span {
    float: right;
    text-decoration: none;
}

.card .card-description span a:link {
    text-decoration: none;
}

.card-img-ten {
    height: 250px;
    width: 360px;
}