@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.blog-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 20px;
    padding: 2% 11%;
}

.card {
    border: 2px inset #4c5b5847;
    box-shadow: 14px 14px 12px 0px rgb(85, 97, 83);
    background-color: #dbfff985;
    border-radius: 20px;

    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    transition: 1s;
}

.card:hover {
    transform: scale(1.1);
    z-index: 2;
}

.card-img {
    width: 300px;
    height: 280px;
    overflow: hidden;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 8px 8px 12px 0px rgb(85, 97, 83);

    transition: 1s;
}

.card-img:hover {
    transform: scale(1.2);
    z-index: 2;
}

.card .card-header {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 15px 0 5px;
    font-size: 1.5em;
    font-family: 'Poiret One';
    border: 3px outset #4c5b58;
    border-radius: 10%;
    padding: 5px;
}

.card .card-header-link {
    text-decoration: none;
    color: black;
}

.card .card-header-link:visited {
    color: black;
}

.card .card-header-link:hover {
    color: #4c5b58;
}

.card .card-date {
    font-weight: normal;
    font-variant: small-caps;
    margin-bottom: 15px;
    font-style: italic;
    font-size: 1em;
    text-align: center;
}

.card .card-description {
    text-align: justify;

    transition: 1s;
}

.card .card-description:hover {
    transform: scale(1.2);
    z-index: 2;

    background-color: #4c5b58;
    border-radius: 5px;
    color: white;

    padding: 5px;
}

.card-ten {
    flex-direction: row;
    grid-column: span 2;
    align-items: center;
    justify-content: space-between;

    height: auto;
    padding: 10px;
}

.card-ten-content {
    width: 45%;
}

.post-btn a {
    text-decoration: none;
    font-style: italic;
    color: #dbfff9;
    font-family: 'Poiret One';
    font-size: 1rem;
    text-transform: capitalize;
}

.post-btn {
    background-color: #4c5b58;
    border: none;
    border-radius: 20px;
    float: right;
    text-decoration: none;

    padding: 2% 4%;
    margin-top: 2%;
}

.post-btn:hover {
    background-color: #dbfff985;
}

.post-btn a:visited {
    color: #dbfff985;
}

.card .card-description:hover .post-btn {
    background-color: #dbfff985;
}

.card .card-description:hover .post-btn a {
    color: white;
}

.card .card-description:hover .post-btn a:hover {
    color: black;
}

.card-img-ten {
    height: 250px;
    width: 52%;
}

.more-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.more-card h3 {
    display: flex;
    align-items: center;
    justify-content: space-around;

    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    color: rgb(190, 105, 105);
}

.more-img {
    width: 32%;
    height: 100%;
    float: right;

    border-radius: 50%;
}

.about {
    text-align: justify;
    margin: 4% 0;
}

.more-btns .post-btn:hover a {
    color: black;
}

.more-btns {
    display: flex;
    justify-content: space-around;
}

.more-card a:link {
    text-decoration: none;
    font-style: italic;
    color: #dbfff9;
}

.more-card a:visited {
    color: #dbfff9;
}

.more-card a:hover {
    color: black;
}

/* MEDIUM */

@media (max-width: 900px) {
    .blog-cards {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .card-ten {
        grid-column: auto;
        flex-direction: column;
    }

    .card-ten-content {
        width: auto;
    }

    .card-img-ten {
        width: 300px;
        height: 280px;
        overflow: hidden;
        max-width: 100%;
    }

    .more-card {
        grid-column: span 2;
    }
}

/* SMALL */

@media (max-width: 600px) {
    .blog-cards {
        grid-template-columns: 1fr;
    }

    .blog-cards > .card {
        grid-column: span 1;
    }

    .more-card {
        grid-column: span 1;
    }
}