@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('./header.css');
@import url('./middle.css');
@import url('./footer.css');

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* RESPONSIVE */

/* small */
@media (max-width: 500px) {
    .title a {
        font-size: 100%;
    }
    
    .bottom-container {
        grid-template-columns: 1fr;
    }

    .sources {
        text-align: center;
    }

    .b-left {
        align-content: center;
    }
}