p {
    margin: 16px 0;
}

.blog-content {
    padding: 2% 10%;
    text-align: justify;
    text-indent: 50px;
}

.content-intro {
    font-style: italic;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 45px;
}

@media (max-width: 500px) {
    .blog-content {
        padding: 2% 5%;
    }
}